*,html {
margin: 0;
padding: 0;
}

.navbar {
  background-color: #333;
  width: 100%;
  height: 15vh;
}

.ul-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.li-navbar {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
  color: white;
  font-size: 25px;
}

.li-navbar:hover {
 background-color: crimson;
 transition: .5s ease-in-out;
 transition-delay: .2s;
 border-radius: 8px;
}

.a-navbar {
  color: white;
  text-decoration: none;
  font-weight: 800;
}

.content {
  background-color: whitesmoke;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-img-content {
  background-color: white;
  color: black;
  width: 350px;
  height: 400px;
  font-size: 25px;
  border-radius: 80px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  -webkit-box-shadow: 2px 4px 15px -2px #000; 
  box-shadow: 2px 4px 15px -2px #000;
}

.img-content {
  width: 60%;
  height: 50%;
}

.p-content {
  height: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  height: 15vh;
  background-color: black;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
}

.h-footer {
  font-size: 25px;
}